<!DOCTYPE html>
<html>
	<head>
		<title>BlogField</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item">
					<i class="paint brush icon"></i>BlogField
				</div>
				<a class="item" href="/">Home</a>
				<a class="item" href="/blog/new">Create Blog</a>
			</div>
		</div>