<%- include("partials/header.ejs") %>

<div class="ui main text container segment">
	<div class="ui huge header">
		New Blog
	</div>
	<form class="ui form" action="/blog" method="POST">
		<div class="field">
			<label>Title</label>
			<input type="text" name="blog[title]" placeholder="Title">
		</div>
		<div class="field">
			<label>Image</label>
			<input type="text" name="blog[image]" placeholder="Image url">
		</div>
		<div class="field">
			<label>Content</label>
			<textarea name="blog[body]" placeholder="Content goes here.."></textarea>
		</div>
		<button class="ui violet big basic button">Submit</button>
	</form>
</div>

<%- include("partials/footer.ejs") %>
